@page "/todos/create"
@using Microsoft.EntityFrameworkCore
@using BlazorApp1.Entities
@inject IDbContextFactory<BlazorApp1.Data.AppDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Todo</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Todo" OnValidSubmit="AddTodo" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="Todo.Title" class="form-control" /> 
                <ValidationMessage For="() => Todo.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="isdone" class="form-label">IsDone:</label> 
                <InputCheckbox id="isdone" @bind-Value="Todo.IsDone" class="form-check-input" /> 
                <ValidationMessage For="() => Todo.IsDone" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/todos">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Todo Todo { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddTodo()
    {
        using var context = DbFactory.CreateDbContext();
        context.Todo.Add(Todo);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/todos");
    }
}
